body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #041f55;
    margin: 10px;
    padding: 10px;
}

h1 {
    font-weight: 900;
    color: #c9d7ff;
    text-align: center;
    margin-bottom: 30px;
}

/*TARJETAS*/
.card-gestor {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    border-left: 6px solid #3b82f6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
    transition: 0.2s ease;
}

.card-gestor:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    background: #82b2e9b4;
}

/* Nombre de empresa */
.card-gestor h3 {
    margin: 0;
    color: #051074;
    font-weight: 600;
}

h3:hover {
    color: #f6f9faf6;
}

/*BADGE (TIPO DE EMPRESA)*/
.badge-tipo {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 12px;
}

/*RESPONSIVE*/
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    .card-gestor {
        padding: 1rem;
    }
    .badge-tipo {
        font-size: 0.8rem;
    }
}